@font-face {
    font-family: "avenir";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvenirNextLTPro-Regular.eot');
    src: local("AvenirNextLTPro-Regular"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Regular.svg") format("svg");
}


*,
body,
html {
    font-family: "avenir", 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    background-color: #f5f6f7;
}

label,
button,
h1,
h2,
h3 {
    font-family: "avenir", 'Segoe UI', Tahoma, Verdana, sans-serif;
}

label {
    font-size: 14px;
}

::placeholder,
::-webkit-input-placeholder {
    font-size: 14px;
    color: #c8c8c8 !important;
}

.btn-primary {
    background-color: #155da3;
    border-color: #155da3;
    font-size: 18px;
    text-shadow: none;
}

.rtl {
    direction: rtl;
}

a,
.btn-link {
    color: #155da3;
    transition: all .3s ease 0s;
}

a:hover,
button:hover {
    text-decoration: none !important;
    opacity: .8;
}

h2 {
    font-size: 26px;
}

ul,
li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: 0;
    border: 0;
}

.form-control {
    border: 0;
    border-radius: 0 !important;
    border-bottom: 1px solid #ced4da;
}

/*****************************/
/* Float Label */
.floatlabel {
    position: relative;
}

.floatlabel input {
    -webkit-appearance: none;
    color: #333;
    padding: 15px 3px;
    background: transparent;
}

.floatlabel textarea {
    -webkit-appearance: none;
    color: #333;
    padding: 15px 3px;
    background: transparent;
}

.floatlabel input[readonly] {
    background: none
}

.floatlabel input:focus {
    background: none;
    outline: 0;
    border: 0;
    box-shadow: none;
}

select:focus {
    background: none;
    outline: 0 !important;
    border: 0;
    box-shadow: none !important;
}

.floatlabel textarea:focus {
    background: none;
    outline: 0;
    border: 0;
    box-shadow: none;
}

.floatlabel label.label {
    position: absolute;
    top: 14px;
    left: 16px;
    transition: all 0.2s ease-out;
    background: transparent;
    color: #999;
    font-size: 16px;
    cursor: text;
}

.floatlabel label.label.floatlabel-shift {
    top: -7px;
    left: 12px;
    padding: 0 4px;
    font-size: 14px;
    color: #999;
}

.floatlabel label.label.floatlabel-active {
    color: #0077c8;
}


/***************************/
/* Login Page */

.form-container {
    height: 100%;
    position: fixed;
    width: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/********************************/
/* header */
header {
    background: #FFF;
    padding: 10px;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

.site-name {
    font-size: 23px;
    line-height: 65px;
    float: left;
}

.site-name a {
    color: #000;
}

.site-name .menu-toggle {}

header .nav {
    line-height: 65px;
    color: #000;
}

header .nav li {
    color: #000;
}

.nav li.divider {
    background: #eaeaea;
    height: 1px;
    padding: 0 !important;
}

header .nav li a {
    display: block;
    color: #000;
}

header .nav li .dropdown-menu {
    right: -7px !important;
    top: 0 !important;
    left: auto !important;
}

header .nav li .dropdown-menu li {
    line-height: normal;
    padding: 10px;
}

header .nav li .dropdown-menu li a {}

/*************************************/
/* Side Menu */
.side-nav-bar {
    position: absolute;
    height: 100%;
    background: #FFF;
    padding-top: 50px;
}

.side-nav-bar ul {}

.side-nav-bar ul li {}

.side-nav-bar ul li a {
    color: #000;
    font-size: 19px;
    padding: 20px;
    text-align: left;
    display: block;
}

.side-nav-bar ul li a span {
    overflow: hidden;
    display: inline-block;
}

.side-nav-bar ul li i {
    float: left;
    margin-top: 4px;
    margin-right: 19px;
}

/*****************************************/
/* Customers Page */
.body {
    /* display: flex; */
    /* height: 100%; */
}

.viewCustomer {
    cursor: pointer;
}

.content {
    margin-left: 15rem;
    padding-top: 50px;
    transition: all .3s ease 0s;
    padding-right: 45px;
}

.page-header {
    margin-bottom: 50px;
}

.page-header h1 {
    margin: 0;
}

.page-header button {
    font-weight: b;
}

.dark-btn {
    background: #000;
    color: #FFF;
    border: 0;
    height: 50px;
    border-radius: 20rem;
    padding: 0 40px;
    box-shadow: 0 0 2px #CCC;
}

.white-btn {
    background: #FFF;
    color: #000;
    border: 0;
    height: 50px;
    border-radius: 20rem;
    padding: 0 40px;
    box-shadow: 0 0 2px #CCC;
}

.plain-btn {
    background: none;
    border: 0;
    min-height: 50px;
    border-radius: 20rem;
    padding: 0 40px;
}

.page-header small {}

.inner-content {}

.search-field {}

.search-field form {
    float: left;
    width: 50%;
    background: #FFF;
    margin-bottom: 30px;
    box-shadow: 0 0 6px #ccc;
}

.search-field i {
    float: right;
    display: block;
}

.search-field input {
    border: 0;
    height: 50px;
    width: 90% !important;
}

.table-component {
    margin-bottom: 30px;
}

.table-component nav {}

.table {
    box-shadow: 0 0 6px #ccc;
    background: #FFF;
}

.table thead {}

.table thead tr {
    border-bottom: 1px solid #e0e0e0;
}

.table thead th {
    padding: 25px;
    color: #cccccc;
}

.table tbody {}

.table tbody tr {}

.table tbody td {
    padding: 25px;
}

.pagination-filter {}

.pagination-filter>div {}

.pagination-filter>div label {
    float: left;
    line-height: 30px;
}

.pagination-filter>div select {
    float: right;
    width: 72%;
    background: none;
    border: 0;
    font-size: 12px;
}

.pagination {}

.pagination li {}

.pagination li.active {}

.pagination li.active a {
    background: #FFF !important;
    color: #007bff !important;
}

.pagination li a {}

.pagination li:first-child {}

.pagination li:last-child {}

.sort-option {}

.sort-option label {
    font-weight: bold;
}

.sort-option ul ul {
    display: flex;
    flex-direction: column;
}

.sort-option ul>li {
    float: right;
    margin: 10px;
    color: #000;
    position: relative;
}

.sort-option ul>li a {
    color: #979797;
}

.sort-option ul>li a:hover {
    color: #000
}

.sort-option ul ul>li a:after {
    content: "\f063";
    font-family: 'FontAwesome';
    margin-left: 15px;
    font-size: 10px;
}

.sort-option ul li .dropdown-menu {
    width: 300px;
    padding: 10px;
    left: -146px !important;
}

.h-40 {
    height: 40px !important;
    min-height: 40px !important;
}

.no-background {
    background: none;
}

/************
View Customer Details
********************/
.flex-menu-half {
    display: flex;
    flex-wrap: wrap;
}

.flex-menu-half li {
    flex: 1 0 50%;
    margin-bottom: 6px;
}

.flex-menu-half li label {
    color: #b1afaf;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.flex-menu-half li p {
    font-weight: bold;
}

/********************
Menus
*********************/
.cat-block {
    background: #FFF;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
    cursor: pointer;
}

.cat-block-inner {
    height: 200px;
    overflow: hidden;
}

.cat-block-inner img {
    width: 100%;
}

.cat-block-title {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cat-block-title h4 {
    font-size: 18px;
    font-weight: bold;
}

.cat-block-title a {
    float: right;
}

/*******************
Edit Menu
******************/
.uploaded-pic {
    position: relative;
}

.uploaded-pic img {
    width: 100%;
}

.uploaded-video {
    position: relative;
    cursor: pointer;
}

.uploaded-video button {
    position: absolute;
    top: 0;
}

.change-pic-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, .2);
    border: 0;
    color: #FFF;
    padding: 10px;
}

.editable-heading {
    color: #000;
}

.editable-heading input {
    font-weight: bold;
    font-size: 20px;
    border: 0;
    margin-bottom: 14px;
    transition: all .3s ease 0s;
}

.editable-heading input:focus {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.editable-heading a {
    color: #ccc;
    display: none;
}

.add-category-btn {
    background: none;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transition: all .3s ease 0s;
}

.add-category-btn:hover {
    opacity: 1;
}

.add-category-btn span:first-child {
    font-size: 57px;
    color: #ccc;
}

.add-category-btn span:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ccc;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #ccc;
}

.cat-hidden {
    opacity: .4;
}

/***************
edit item
****************/
.dishAppend {
    display: flex;
    flex-wrap: wrap;
}

.dishRow {
    display: flex;
    flex: 0 50%;
    width: 100%;
}

.optionAppend {
    display: flex;
    flex-wrap: wrap;
}

.optionAppend>div {
    display: flex;
    flex: 0 50%;
    width: 100%;
}

.sliderOption {}