<template>
   <div class="header-details col-md-12" :style="{ backgroundImage: 'url(' + link + '/images/preview-header-bg.png)' }">
       <!-- Tab links -->
       <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">

           <li class="nav-item" v-for="menu in menus">
               <a class="nav-link" :class="[ menuid == menu.id ? 'active' : '']" id="home-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="home" aria-selected="true">{{ menu.name }}</a>
           </li>
       </ul>

   </div>
</template>
<script>
export default {
  props:['headerbg','link','menus','menuid'],
  data () {
    return {
      message: 'Hoera!!!!',
      logo: this.link + 'images/tablet-logo.png',
    };
  }
};
</script>

<style scoped>
	.header-details {
        height: 33px;
	}
    .nav-tabs {
        border-bottom: none;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #fff;
        font-weight: 400;
        background-color: transparent;
        border-color: transparent !important;
        border-bottom: 2px solid #fff !important;
        margin-top: -5px;
    }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:hover {
        border-color: transparent !important;
        border-bottom: 2px solid #fff !important;
    }
    .nav-item {
        margin-top: -10px;
    }
    .nav-link {
        color: #aaa;
    }


</style>
