<template>
	<div class="main-screen">

        <router-view class="view"></router-view>
		<!--<Menus :link="link"/>-->
	</div>
</template>
<script>
	import Header from './Header.vue';
	import Menus from './Menus.vue';
	import SubMenus from './SubMenus.vue';
    import Login from './Login.vue';

	export default {
	  props:['link'],
	  data () {
	    return {
	      message: 'This is the home component!'
	    };
	  },
	  components: {
	  	Header,
        Menus,
        SubMenus,
        Login
	  },
      created() {
	      if(this.link != null)
            this.$router.push({name: 'menus',params:{ link: this.link }});
      }
    };
</script>
<style scoped>

</style>
