<template>
    <div>
        {{ student }}
    </div>
</template>
<script>
    export default {
        data() {
            return {
                student: "asdasd",
            }
        }
    }
</script>
