<template>
    <div class="main-screen">
        <Header :link="link"/>
        <DetailsHeader :menuid='menuid' :menus="menus" :link="link"/>
        <div class="menu-content col-md-12">
            <div class="col-md-12">
                <div class="menu-container col-md-4 justify float-left" v-for="menu in submenus">
                    <div class="menu-image col-md-12" :style="{ backgroundImage: 'url(\'' + menu.image + '\')' }"></div>
                    <div class="menu-image col-md-12">
                        <div class="menu-name col-md-10 float-left"><b>{{ menu.name }}</b></div>
                        <div v-if="menu.type == 'Item'" class="menu-arrow col-md-2 float-right">
                            <!--<router-link :to={ name: 'SubMenus', params: { menu_id: menu.id }}  exact>-->
                            <router-link :to="{name: 'item', params: {link: link, menuid: menuid,itemid: menu.id}}" exact>
                                <img class="arrow-link" :src=" link + '/images/right-arrow-icon.svg'" alt="">
                            </router-link>
                        </div>
                        <div v-else class="menu-arrow col-md-2 float-right">
                            <!--<router-link :to={ name: 'SubMenus', params: { menu_id: menu.id }}  exact>-->
                            <router-link :to="{name: 'sub-menus', params: {link: link, menuid: menu.id, menus:menus}}" >
                                <img class="arrow-link" :src=" link + '/images/right-arrow-icon.svg'" alt="">
                            </router-link>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import Header from './Header.vue';
    import DetailsHeader from './DetailsHeader.vue';
    import SubMenus from './SubMenus.vue';
    export default {
        props:['link','menuid','menus'],
        data () {
            return {
                submenus: []
            };
        },
        methods: {
            getSubMenus(id = 0){
                //console.log('asd')
                let vm = this;
                this.menuid = id > 0 ? id : this.menuid;
                axios.get('http://localhost/menioo/public/diner/menu/'+this.menuid,{
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function (response) {
                    vm.submenus = response.data['arrangmentall'];
                })
                .catch(function (error) {
                    vm.submenus = error;
                });
            },
            sayHello(id) {
                //this.$router.push('preview/sub-menus/'+id);
            },
        },
        created() {
            this.getSubMenus();
            //console.log(this.menus);
        },
        components: {
            Header,
            DetailsHeader,
            SubMenus,
        },
    };
</script>

<style scoped>
    ::-webkit-scrollbar {
        display: none;
    }
    .main-screen {
        margin-left: 159px;
        width: 77.5% !important;
        position: absolute;
        top: 53px;
        background: #eaeaea;
        /*border: 1px solid red;*/
    }

    .menu-content {
        padding-top: 25px !important;
        height: 397px;
        overflow-y: auto;
    }
    h3 {
        margin-bottom: 20px;
    }
    .menu-container {
        padding: 0px;
        /*margin-left: 5px;
        margin-right: 5px;*/
        margin-top: 10px;
        height: 160px;
        background: #fff;
        border-radius: 14px;
    }
    .menu-image {
        height: 120px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
    }
    .menu-name {
        text-align: left;
        padding: 0px;
    }
    .menu-arrow {
        text-align: right;
        padding: 0px;
    }
    b {
        font-family: Gellix, 'sans-serif';
    }
    .arrow-link {
        cursor: pointer;
    }

    .col-md-4 {
        max-width: 31.333% !important;
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
</style>
